<div class="">
  <div class="row header">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="text-center">Learn Online</h2>
    </div>
    <div class="col-md-4 ">
      <p>Username: <%- username %></p>
      <p>Email : <%- email %></p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div class="col-md-2 col-sm-4">
          <a href="/javascript" title="Javascript">
            <div class="box-button">
              <img src="/images/Javascript-shield.png" alt="javascript" />
            </div>
          </a>
        </div>

        <div class="col-md-2 col-sm-4">
          <a href="#" title="MongoDB">
            <div class="box-button">
              <img src="/images/mongodb.png" alt="javascript" />
            </div>
          </a>
        </div>

        <div class="col-md-2 col-sm-4">
          <a href="#" title="python">
            <div class="box-button">
              <img src="/images/python.png" alt="python" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
