<div class="row">
  <div class="col-md-10 offset-md-1 header">
    <div>
      <h1 class="text-center">Javascript</h1>
    </div>
    <div class="navigation">
      <a href="/" class="btn btn-sm btn-primary ">Main Menu</a>
    </div>
  </div>
  <div class="col-md-10 offset-md-1">
    <div class="row p-0">
      <%- partial('partial/js-side-bar', {navItem : navItem})%> 
      <div class="col-md-9 content-bar">
        <h3 class="text-center"><%- topicName %></h3>
        <hr>
        <h4>What is Javascript ?</h4>
        <p>
          Answer - Javascript is mostly known as client side scripting language.
          Javascript initially use to make your page alive At present Javascript
          not only execute on browser but also on the server.
        </p>
        <h4>History of Javascript</h4>
        <p>
          Answer- <br />
          > Javascript was developed by Brendan Eich in 1995. <br />
          > Javascript started his life with the name Mocha and was concisely
          named LiveScript.<br />
          > then LiveScript officially renamed to Javascript.<br />
          > Java was very popular language at that time, So to tie into sucess
          LiveScript renamed Javascript.
        </p>

        <h4>What is ECMAScript ?</h4>
        <p>
          Answer- <br />
          > In 1996 Netscape submitted Javascript to ECMA.<br />
          > ECMA (European Computer Manufacturers Association ) is a private
          international notprofit standard organization.<br />
          > The relation between ECMA Specification.
        </p>
        <h4>What is ES5</h4>
        <p>
          Answer- <br />
          > ECMAScript 6 is update of ES5 which was standardized in 2009. <br />
          > ES6 was published by ECMA international in June 2015.
          <br />
        </p>

        
        <hr />
        
        <a href="/literal-variable-contant" class="btn btn-sm btn-danger float-right">Next Topic</a>
        <br />
      </div>
    </div>
  </div>
</div>
