<div class="col-md-3 side-navbar">
  <a href="/javascript" class="nav-link p-0 <%- navItem == 'page1' ? 'active-link' : ' ' %>">-> Introduction of javascript</a>
  <a href="/literal-variable-contant" class="nav-link p-0 <%- navItem == 'page2' ? 'active-link' : ' ' %> ">-> literal, variable and constant </a>
  <a href="/data-types" class="nav-link p-0 <%- navItem == 'page3' ? 'active-link' : ' ' %> ">-> Data Types of javascript </a>
  
  
</div>
